<div>
  <div>
    <br>
    <h2 id="personalDetailsOverview">Personal details of: {{ hero.firstname | uppercase }} {{hero.prefix | uppercase}}
      {{hero.surname | uppercase}}</h2>
    <br>
  </div>
</div>
<div>
  <form>
    <div class="form row">
      <label for="firstnameOverview" class="col-sm-2 col-form-label" id="firstnameLabel">Firstname:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="firstnameOverview" value="{{hero.firstname}}">
      </div>
    </div>
    <div class="form row">
      <label for="prefixOverview" class="col-sm-2 col-form-label" id="prefixLabel">Prefix:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="prefixOverview" value="{{hero.prefix}}">
      </div>
    </div>
    <div class="form row">
      <label for="surnameOverview" class="col-sm-2 col-form-label" id="surnameLabel">Surname:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="surnameOverview" value="{{hero.surname}}">
      </div>
    </div>
    <div class="form row">
      <label for="dateofbirthOverview" class="col-sm-2 col-form-label" id="dateofbirthLabel">Date of birth:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="dateofbirthOverview" value="{{hero.dateofbirth}}">
      </div>
    </div>
    <div class="form row">
      <label for="profesionOverview" class="col-sm-2 col-form-label" id="professionLabel">Profession:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="profesionOverview"
               value="{{hero.profession}}">
      </div>
    </div>
    <div class="form row">
      <label for="genderOverview" class="col-sm-2 col-form-label" id="genderLabel">Gender:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="genderOverview"
               value="{{hero.gender}}">
      </div>
    </div>
    <div class="form row">
      <label for="emailOverview" class="col-sm-2 col-form-label" id="emailLabel">Emailaddress:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="emailOverview"
               value="{{hero.emailaddress}}">
      </div>
    </div>
    <div class="form row">
      <label for="remarkOverview" class="col-sm-2 col-form-label" id="remarksLabel">Remarks:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="remarkOverview"
               value="{{hero.remarks}}" rows="2">
      </div>
    </div>
    <div class="form row">
      <label for="checkboxOverview" class="col-sm-2 col-form-label" id="checkboxLabel">Checkbox checked?</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="checkboxOverview"
               value="{{hero.checkbox}}">
      </div>
    </div>
    <div class="form row">
      <label for="enjoyOverview" class="col-sm-2 col-form-label" id="enjoyLabel">Did you enjoy this training?</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="enjoyOverview"
               value="{{hero.enjoy}}">
      </div>
    </div>
  </form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <br>
      <button (click)="sendMeRegister()" class="btn btn-primary" id="SendMeBack">Send me back</button>
      <br>
      <br>
    </div>
    <div class="col-auto">
      <button (click)="sendMeBackend()" class="btn btn-primary" id="SendToBackend">Send to backend</button>
    </div>
  </div>
</div>
