<div>
  <div>
    <h2 class="text-center" id="text1">Fill in your personal details to complete your registration!</h2>
  </div>
  <div>
    <br>
    <h3 id="Welcome">Welcome: <b id="fullname">{{hero.firstname}} {{hero.prefix}} {{hero.surname}}</b></h3>
    <br>
  </div>
</div>
<div class="form-group">
  <div class="form-group" class="col-7">
    <label for="firstname" id="firstnameLabel">Firstname:</label>
    <input [(ngModel)]="hero.firstname" class="form-control" placeholder="enter your firstname" id="firstname" type="text">
  </div>
  <div class="form-group" class="col-7">
    <label for="prefix" id="prefixLabel">Prefix:</label>
    <input [(ngModel)]="hero.prefix" class="form-control" placeholder="enter your prefix" id="prefix">
  </div>
  <div class="form-group" class="col-7">
    <label for="surname" id="surnameLabel">Surname:</label>
    <input [(ngModel)]="hero.surname" class="form-control" placeholder="enter your surname" id="surname">
  </div>
  <div class="form-group" class="col-7">
  <label for="dateofbirth">Date of birth:</label>
  <input [(ngModel)]="hero.dateofbirth" class="form-control" placeholder="dd-mm-jjjj" type="text" id="dateofbirth">
  </div>
  <!--<div class="form-group" class="col-7">-->
    <!--<label for="dateofbirth" id="dateofbirthLabel">Date of birth:</label>-->
    <!--<div class="input-group datepicker-input">-->
      <!--<input class="form-control" placeholder="dd-mm-jjjj"-->
             <!--name="dp" [(ngModel)]="hero.dateofbirth" ngbDatepicker #d="ngbDatepicker" id="dateofbirth">-->
      <!--<button class="input-group-addon" (click)="d.toggle()" type="button">-->
        <!--<span class="fa fa-calendar"></span>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
  <div class="form-group" class="col-7">
    <label for="profession" id="professionLabel">Profession:</label>
    <input [(ngModel)]="hero.profession" class="form-control" placeholder="enter your profession" type="text"
           id="profession">
  </div>
  <div class="form-group" class="col-7">
    <label for="gender" id="genderLabel">Gender:</label>
    <select class="form-control" [(ngModel)]="hero.gender" id="gender">
      <option [ngValue]="undefined" disabled selected>select one option from the dropdownlist</option>
      <option *ngFor="let gender of gender">{{gender}}</option>
    </select>
  </div>
  <div class="form-group" class="col-7">
    <label for="email" id="emailLabel">Email address:</label>
    <input [(ngModel)]="hero.emailaddress" type="email" class="form-control" id="email" placeholder="name@example.com"
           aria-describedby="emailhelp">
    <small id="emailhelp" class="form-text text-muted">
      Enter your email in the following format name@example.com
    </small>
  </div>
  <div class="form-group" class="col-7">
    <label for="textarea1" id="remarksLabel">Remarks:</label>
    <textarea [(ngModel)]="hero.remarks" class="form-control" id="textarea1" rows="2" maxlength="100"></textarea>
  </div>
  <br>
  <div class="form-group" class="col-7">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="defaultCheck1" [(ngModel)]="hero.checkbox">
      <label class="form-check-label" for="defaultCheck1" id="checkboxLabel">
        Click on the checkbox to save this
      </label>
    </div>
  </div>
  <br>
  <div class="form-group" class="col-7">
    <div class="row" class="form-check-inline">
      <legend class="col-form-label col-sm-5 pt-0">Did you enjoy this training?</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" [(ngModel)]="hero.enjoy" id="gridRadios1" value="Yes">
          <label class="form-check-label" for="gridRadios1">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" [(ngModel)]="hero.enjoy" id="gridRadios2" value="No">
          <label class="form-check-label" for="gridRadios2">
            No
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" [(ngModel)]="hero.enjoy" id="gridRadios3" value="I don't know">
          <label class="form-check-label" for="gridRadios3">
            I don't know
          </label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <label id="text2">Click on the button to trigger an Alert Box:</label>
    <br>
    <button (click)="alertShow()" class="btn btn-dark">Alert Box</button>
  </div>
</div>
<div>
  <button (click)="sendMeOverview()" class="btn btn-primary" id="GoToOverview">Go to the overview</button>
</div>


