<div>
  <div>
    <h2>Fill in your personal details to complete your registration:</h2>
  </div>
  <div>
    <br>
    <h3 id="Welcome">Welcome: <b id="fullname">{{hero.name}} {{hero.surname}}</b></h3>
    <br>
  </div>
</div>
<div>
  <div class="form-group" class="col-7">
    <label for="firstname">Firstname:</label>
    <input [(ngModel)]="hero.name" class="form-control" placeholder="enter your firstname" id="firstname">
  </div>
  <div class="form-group" class="col-7">
    <label for="surname">Surname:</label>
    <input [(ngModel)]="hero.surname" class="form-control" placeholder="enter your surname" id="surname">
  </div>
  <div class="form-group" class="col-7">
    <label for="surname">Date of birth:</label>
    <input [(ngModel)]="hero.dateofbirth" class="form-control" placeholder="dd-mm-yyyy" type="text" id="dateofbirth">
  </div>
  <div class="form-group" class="col-7">
    <label for="profession">Profession:</label>
    <input [(ngModel)]="hero.profession" class="form-control" placeholder="enter your profession" type="text"
           id="profession">
  </div>
  <div class="form-group" class="col-7">
    <label for="gender">Gender:</label>
    <select class="form-control" [(ngModel)]="hero.gender" id="gender">
      <option [ngValue]="undefined" disabled selected>select one option from the dropdownlist</option>
      <option *ngFor="let gender of gender">{{gender}}</option>
    </select>
  </div>
  <div class="form-group" class="col-7">
    <label for="email">Email address:</label>
    <input [(ngModel)]="hero.emailaddress" type="email" class="form-control" id="email" placeholder="name@example.com"
           aria-describedby="emailhelp">
    <small id="emailhelp" class="form-text text-muted">
      Enter your email in the following format name@example.com
    </small>
  </div>
  <br>
  <div>
    <button (click)="sendMeOverview()" class="btn btn-primary">Go to the overview</button>
  </div>
</div>

